 body {
     margin: 0px;
     padding-left: 30px;
     font-family: 'Muli', serif;
     background: rgb(0, 48, 73);
     background: linear-gradient(90deg, rgba(0, 48, 73, 1) 5%, #006d77);
 }

 .header {
     background: rgb(0, 48, 73);
     background: linear-gradient(90deg, rgba(0, 48, 73, 1) 5%, #006d77);
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header__img {
     width: 200px;
     margin-top: 10px;
     margin-left: 30px;
     filter: invert(100%);
 }

 .login {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 0px 30px;
     min-height: calc(100vh - 200px);
 }

 .login__container {
     /* background-image: url("../img/bg.jpg");
     background-repeat: no-repeat;
     background-size: contain; */
     background-color: rgba(255, 255, 255, 0.1);
     border: 2px solid white;
     border-radius: 40px;
     color: white;
     padding: 20px 68px 20px;
     min-height: 400px;
     width: 300px;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
 }

 .login__container h2 {
     margin: 0px;
 }

 .login__container--image {
     display: flex;
     align-self: center;
     height: 100px;
     width: 100px;
     filter: invert(100%);
     margin: 0px;
 }

 .login__container--form {
     display: flex;
     flex-direction: column;
 }

 .login__container--form label {
     font-size: 14px;
 }

 .login__container--remember-me {
     color: white;
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
 }

 .login__container--remember-me a {
     color: white;
     text-decoration: none;
 }

 .login__container--remember-me a:hover {
     text-decoration: underline;
 }

 .login__container--social-media>div {
     display: flex;
     align-items: center;
     font-size: 14px;
     margin-bottom: 10px;
 }

 .login__container--social-media>div>img {
     width: 30px;
     margin-right: 10px;
 }

 .login__container--register {
     font-size: 14px;
 }

 .login__container--register a {
     color: white;
     font-weight: bold;
     font-size: 16px;
     text-decoration: none;
 }

 .login__container--register a:hover {
     text-decoration: underline;
 }

 .input {
     background-color: transparent;
     border-left: 0px;
     border-top: 0px;
     border-right: 0px;
     border-bottom: 2px solid white;
     font-family: 'Muli', serif;
     font-size: 16px;
     margin-bottom: 20px;
     padding: 0px 20px;
     outline: none;
     height: 50px;
 }

 ::placeholder {
     color: white;
 }

 .button {
     background-color: rgba(255, 255, 255, 0.1);
     border: none;
     border-radius: 25px;
     color: white;
     cursor: pointer;
     font-size: 16px;
     font-weight: bold;
     font-family: 'Muli', serif;
     height: 50px;
     letter-spacing: 1px;
     margin: 10px 0px;
     outline: none;
 }

 .button:hover {
     background-color: rgba(255, 255, 255, 0.3);
 }

 .footer {
     display: flex;
     align-items: center;
     height: 100px;
     width: 100%;
 }

 .footer a {
     color: white;
     cursor: pointer;
     font-family: 'Vidaloka', serif;
     font-size: 14px;
     padding-left: 30px;
     text-decoration: none;
 }

 .footer a:hover {
     text-decoration: underline;
 }

 @media only screen and (max-width:600px) {
     .login__container {
         background-color: transparent;
         border: none;
         padding: 0px;
         width: 100%;
     }
     .footer {
         align-items: flex-start;
         flex-direction: column;
     }
 }