<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
</head>

<body>

    <section class="carousel">
        <h3>Personajes de la serie</h3>
        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__img"
                    src="https://i.pinimg.com/originals/48/4d/82/484d829c4bf5b8103e1294e81a5413e8.png" alt="dean">
                <div class="carousel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png"
                            alt="play">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png"
                            alt="Plus">
                    </div>
                    <p class="carousel-item__details--title">Titulo Descriptivo</p>
                    <p class="carousel-item__details--subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>
            <!-- IMAGEN  2 -->
            <div class="carousel-item">
                <img class="carousel-item__img"
                    src="https://tvguide1.cbsistatic.com/i/r/2012/12/05/e6ebcea5-3fd9-4b2b-90c9-dbe5c5d5a616/resize/660x960/dbb0f23d07984f3b31baa27961360b62/121204jared-padalecki-supernatural1.jpg"
                    alt="sam">
                <div class="carousel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png"
                            alt="play">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png"
                            alt="Plus">
                    </div>
                    <p class="carousel-item__details--title">Titulo Descriptivo</p>
                    <p class="carousel-item__details--subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>
            <!-- IMAGEN  3 -->
            <div class="carousel-item">
                <img class="carousel-item__img"
                    src="https://i.pinimg.com/originals/0b/78/db/0b78dbba06ab863513aaa1dd0a387e21.jpg" alt="CASS">
                <div class="carousel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png"
                            alt="play">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png"
                            alt="Plus">
                    </div>
                    <p class="carousel-item__details--title">Titulo Descriptivo</p>
                    <p class="carousel-item__details--subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>

        </div>
    </section>
</body>

</html>